Source: ros-ardent-tinyxml2-vendor
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml2-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-ardent-tinyxml2-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml2-dev
Description: Wrapper around tinyxml2, providing nothing but a dependency on tinyxml2, on some systems.
 On others, it provides a fixed CMake module or even an ExternalProject build of tinyxml2.
